<h1> Cool Army Builder 2014 </h1>

<%= link_to 'Units', controller: :units, action: :index %>
<%= link_to 'Factions', controller: :factions, action: :index %>
<%= link_to 'Armies', controller: :armies, action: :index %>
<%= link_to 'Army Units', controller: :army_units, action: :index %>
<%= link_to 'Unit Types', controller: :unit_types, action: :index %>