<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Base cost:</strong>
  <%= @unit.base_cost %>
</p>

<p>
  <strong>Unit type:</strong>
  <%= @unit.unit_type_id %>
</p>

<p>
  <strong>Faction:</strong>
  <%= @unit.faction_id %>
</p>

<p>
  <strong>Model count:</strong>
  <%= @unit.model_count %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
